<div class="tabbar p-3">
  <nav>
      <li class="nav-item" role="presentation">
      <button class="nav-link" id="my-spaces-tab" data-bs-toggle="tab" data-bs-target="#about-host" type="button" role="tab" aria-controls="my-spaces" aria-selected="true">My Spaces</button>
    </li>
    <li class="nav-item" role="presentation">
      <button class="nav-link active" id="my-bookings-tab" data-bs-toggle="tab" data-bs-target="#map" type="button" role="tab" aria-controls="my-bookings" aria-selected="false">My Bookings</button>
    </li>
    <li class="nav-item" role="presentation">
      <button class="nav-link" id="my-account-tab" data-bs-toggle="tab" data-bs-target="#ratings" type="button" role="tab" aria-controls="my-account" aria-selected="false">My Account</button>
    </li>
  <a href="">My Spaces</a>
  <a href="" class="active">My Bookings</a>
  <a href="">My Account</a>
  </nav>
</div>
