// Import Google fonts
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

// To use a font file (.woff) uncomment following lines
@font-face {
  font-family: "IntegralCF";
  src: font-url('IntegralCF-Bold.woff');
}
// $my-font: "Font Name";


// Define fonts for body and headers
$body-font: "Roboto", "Helvetica", "sans-serif";
$headers-font: "IntegralCF", "Helvetica", "sans-serif";


html, body{
  font-size: 16px !important;
}

h4, h5{
  font-family: $body-font !important;
  font-weight: 700 !important;
}

a{
  text-decoration: none !important;
}

h1{
  font-size: 64px !important;
}
h2{
  font-size: 48px !important;
}
h3{
  font-size: 40px !important;
}
h4{
  font-size: 32px !important;
}
h5{
  font-size: 20px !important;
}
small{
  font-size: 14px !important;
}
p{
  margin: 0 !important;
}
// $h2-font-size: 48px;
// $h3-font-size: 40px;
// $h4-font-size: 32px;
// $h5-font-size: 20px;
// $small-font-size: 14px;
