ul {
  list-style: none;
}

.my-booking-card img {
  width: 304px;
  height: 307px;
}

.dates {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}


.paymentInfo {
  display: flex;
  align-items: center;
}


.dashboard .tabbar {
  display: flex;
  justify-content: center;
  text-align: center;
}

.bookings-container {
  min-width: 800px;

}

.my-booking-card{
  border-radius: 20px !important;
}
