.show-space{
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 530px;
  margin-bottom: 50px;
}

.show-space > img{
  width: 560px;
  height: 530px;
  border-radius: 20px;
  margin-right: 50px;
  object-fit:cover;
}

.show-space > div {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.show-space .highlights{
  display: flex;
  justify-content: space-around;
  text-align: center;
  width: 100%;
}

.show-space .highlights >div{
  width: 33%;
}

.rating_and_price{
  display: flex;
  align-items: center;
  width: 60%;
  justify-content: space-between;
}

.rating_and_price > div{
  display: flex;
  align-items: center;
  gap: 10px;
}


.map-spaces{
  border-radius: 20px;;
}


.flex-left-align-column{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.flex-right-align-column{
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
