<div class="spaces-index-container container mt-5">
  <div class="filters-card-spaces">
    <div class="filters-card-spaces-content">
      <h5>Filters</h5>
      <i class="fa-solid fa-filter"></i>
    </div>
  </div>

  <div class="all-spaces">
    <h4>All Spaces</h4>
    <div class="cards-spaces">
      <% @spaces.each do |space| %>
        <%= render "spaces/office_space_card", space: space %>
      <% end %>
    </div>
  </div>
</div>
