<div class="footer-main-spaces">
  <div class="footer-banner-spaces">
    <h3>SPACES TO WORK WELL</h3>
    <%= image_tag "logos/spaces_logo_small_darkmode.png" %>
  </div>

  <div class="footer-content-spaces">
    <div class="border-bottom-spaces">
      <div>
        <%= image_tag "logos/spaces_logo_horizontal.png" %>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
      </div>
      <ul class="footer-links-spaces">
        <li>About</li>
        <li>Contact</li>
        <li>Github</li>
        <li>Terms & Conditions</li>
        <li>Privacy</li>
      </ul>
    </div>
    <div>
      <p>Made with ✨ at Le Wagon</p>
      <ul class="payment-types-footer-spaces">
        <li><i class="fa-brands fa-cc-visa"></i></li>
        <li><i class="fa-brands fa-cc-mastercard"></i></li>
        <li><i class="fa-brands fa-cc-paypal"></i></li>
        <li><i class="fa-brands fa-cc-apple-pay"></i></li>
      </ul>
    </div>
  </div>
</div>
