<div class="banner-spaces">
  <div>
    <h1>FIND AND SHARE WORK SPACES</h1>
    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Laudantium ut esse vero delectus minima.</p>
    <%= link_to "See all spaces", spaces_path, class: "btn-spaces btn-secondary-spaces"%>
  </div>
  <%= image_tag "stock/herman_chair_photo.png"%>
</div>

<div id="featured-spaces-div">
  <h2 class="text-center mb-5">FEATURED SPACES</h2>

  <div class="cards-spaces cards-4">
    <% @spaces_4s.each do |space| %>
          <%= render "spaces/office_space_card", space: space %>
    <% end %>
  </div>
</div>
