.navbar-spaces {
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom: 1px solid $light-grey;
  height: 92px;
}

.navbar-spaces ul{
  display: flex;
  flex-grow: 1;
  justify-content: space-around;
  align-items: center;
  margin: 0;
  padding: 0;
}
.navbar-spaces li{
  list-style: none;
}

.navbar-spaces img {
  width: 140px;
}
